Wordpress 4.5.3 = 78c224af570f4bdd5601cd04e0597834
Wordpress 4.6.1 = 533917a02ec2008a1e828749e2f254c2
Wordpress 4.1.13 = bf93905528eac56d69bb24bb8cd56569
Wordpress 4.7 = 767a8cca4cef3ee755c854b7f8e77fb5
Wordpress 4.2.13 = 057c60c29a4dad19ddd06cc7df0d9853
Wordpress 4.3.9 = f62c108f6dc53d52cba84e6eeb68dd4d
Wordpress 4.4.2 = 2c4bdb410a668522bd2d83af14e05e39
Wordpress 4.0 = 036c57d8981238a1ae0290f68ec27c0f
Wordpress 4.8 = a699088ff19ab5d7e1a7d3d83a7ecb3d
Wordpress 4.9 = 236e42a945fb5d9571d50ca7cd1ed939
Wordpress 4.9.5 = 8d15a6b618b254328cb80a0e3b145c3d
Wordpress 5.1.1 = 732a921567bda4d87798c3d1b716378a
Wordpress 5.2.2 = da30ddd946a91cf9d4712cf3ae0369bd
Wordpress 5.3.1 = fdf9c04465061f7c5916afc33e11df40
